@font-face {
	font-family: 'Gilroy_bold';
	src: url(./fonts/Gilroy-Bold.woff2);
}
@font-face {
	font-family: 'Gilroy_medium';
	src: url(./fonts/Gilroy-Medium.woff2);
}
@font-face {
	font-family: 'Gilroy_regular';
	src: url(./fonts/Gilroy-Regular.woff2);
}
@font-face {
	font-family: 'Gilroy_semibolid';
	src: url(./fonts/Gilroy-Semibold.woff2);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	display: block;
}

footer {
	height: 243px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__block__navigation {
	font-family: 'Gilroy_semibolid';
	font-size: 14px;
	line-height: 16px;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}

.header__navigation {
	display: flex;
	align-items: center;
	gap: 40px;
}
.header__homeLink {
	font-family: 'Gilroy_semibolid';
	color: #f25822;
	font-size: 14px;
	line-height: 16px;
}

.main__wrapper {
	background: #ffffff;
	display: flex;
}

.main__contentANDpng {
	padding-top: 84px;
	padding-bottom: 162px;
	display: flex;
	justify-content: space-betweens;
}

.main__title {
	font-family: 'Gilroy_bold';
	width: 522px;

	font-size: 60px;
	line-height: 70px;
	margin-bottom: 17px;
}

.main__subtitle {
	font-size: 20px;
	color: #888888;
	font-family: 'Gilroy_medium';
	margin-bottom: 37px;
	padding-right: 56px;
	width: 466px;
}

.main__wrapper__button {
	background-color: #f25822;
	font-family: 'Gilroy_bold';
	padding: 15px 35px;
	border-radius: 50px;
	border: none;
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;
}

.main__wrapper__buttonEmpty {
	font-family: 'Gilroy_bold';
	border: none;
	color: #aaaaaa;
	background: #ffffff;
	padding: 15px 35px;
	font-size: 15px;
	line-height: 18px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}
.logo {
	display: flex;
	justify-content: space-around;
}

.tripleCard {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #fff;
}

.tripleCard_title {
	font-family: 'Gilroy_bold';
	color: #000;
	font-size: 24px;
	padding-left: 30px;
	padding-right: 30px;
}

.icons {
	padding: 30px 40px;
}

.tripleCard_subtitle {
	color: #666;
	font-size: 15px;
	font-family: 'Gilroy_regular';
	line-height: 150%;
	padding-left: 30px;
	padding-right: 30px;
}

.tripleCard_text {
	color: #000;
	font-size: 11px;
	font-family: 'Gilroy_bold';
	line-height: 150%;
	padding: 25px 30px;
}
.tripleCard_centerCard {
	background: #fff;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.Choose_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #fafafa;
}

.Choose_block_text {
	width: 660px;
	margin-bottom: 55px;
	align-items: center;
	text-align: center;
	background: #fff;
}
.Choose_title {
	margin-bottom: 20px;
	color: #000;
	font-size: 45px;
	font-family: 'Gilroy_bold';
}
.Choose_subtitle {
	color: #666;
	text-align: center;
	font-size: 16px;
	font-family: 'Gilroy-Regular';
	line-height: 150%;
}

.Choose_card {
	display: flex;
	flex-direction: column;
	width: 370px;
	background: #fff;
}

.Choose_card_center {
	width: 370px;
	background: #fff;
	background: #fff;
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.Choose_card_title {
	padding: 0 30px;
	margin-bottom: 20px;
	text-align: center;
	color: #000;
	font-size: 24px;
	font-family: 'Gilroy_bold';
}

.Choose_card_subtitle {
	padding: 0 30px;
	margin-bottom: 40px;
	color: #aaa;
	text-align: center;
	font-size: 15px;
	font-family: 'Gilroy-Regular';
	line-height: 150%;
}

.main__wrapper__button {
	margin-bottom: 50px;
	align-self: center;
}
.Choose_bottom_img {
	display: flex;
	justify-items: center;
	flex-direction: column;
}
.Choose_block_card {
	display: flex;
	justify-content: center;
	gap: 30px;
}
#wrong_png {
	height: 270px;
}